*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

.navigation{
	width: 100%;
	height: auto;
	position: relative;
	display: table;
}

.image-holder{
	width: 15%;
	height: auto;
	float: left;
	position: relative;
}

.image-holder img{
	width: 100%;
	height: auto;
}

.box{
	width: 85%;
	height: 125px;
	float: left;
	position: relative;
}

.box  a{
	text-decoration: none;
	color: black;
	padding: 45px;
	font-size: 20px;
}

.box li{
	list-style-type: none;
}

.box ul{
	padding: 39px;
}

.abox{
	width: 100%;
	height: 100%;
	float: left;
	text-align: center;	
}

.abox ul{
	margin-top: 5px;
}

.bbox{
	width: 30%;
	height: 100%;
	float: left;
	text-align: center;
}

.inline li{
	display: inline-block;
}

.inline button{
	padding: 10px;
	border: none;
	margin-left: 23px;
	border-radius: 10%;
	background: green;
	color: white;
}

.dropbtn {
	width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 22px;
  border: none;
  cursor: pointer;

}

.dropdown {
  position: relative;
  display: inline-block;  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
      width: 36%;
    margin-left: 255px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.footer-container{
	width: 70%;
	margin-top: 300px;
	margin-left: 240px;
}
